<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowTeacherRoutineServlet</servlet-name>
        <servlet-class>Servlet.ShowTeacherRoutineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmptyClassServlet</servlet-name>
        <servlet-class>Servlet.EmptyClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleDayTeacherRoutineServlet</servlet-name>
        <servlet-class>Servlet.SingleDayTeacherRoutineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleDayEmptyClass</servlet-name>
        <servlet-class>Servlet.SingleDayEmptyClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserDetailsServlet</servlet-name>
        <servlet-class>Servlet.UserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelClassServlet</servlet-name>
        <servlet-class>Servlet.CancelClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RescheduleClassServlet</servlet-name>
        <servlet-class>Servlet.RescheduleClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEmptyClassServlet</servlet-name>
        <servlet-class>Servlet.ShowEmptyClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTeacherRoutineServlet</servlet-name>
        <url-pattern>/ShowTeacherRoutineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmptyClassServlet</servlet-name>
        <url-pattern>/EmptyClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleDayTeacherRoutineServlet</servlet-name>
        <url-pattern>/SingleDayTeacherRoutineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleDayEmptyClass</servlet-name>
        <url-pattern>/SingleDayEmptyClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserDetailsServlet</servlet-name>
        <url-pattern>/getUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelClassServlet</servlet-name>
        <url-pattern>/CancelClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RescheduleClassServlet</servlet-name>
        <url-pattern>/RescheduleClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEmptyClassServlet</servlet-name>
        <url-pattern>/ShowEmptyClassServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
